{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-col md:flex-row items-center px-5 py-20">
    <div class="md:w-1/2 lg:w-1/2 w-full md:pr-12 flex flex-col items-center md:text-left mb-8 md:mb-0 text-center">
      <h1 class="title-font sm:text-4xl text-3xl font-bold mb-4 text-gray-900">
        Welcome to InsureCast - Your Trusted Insurance Cost Prediction Website
      </h1>
      <p class="mb-8 text-lg leading-relaxed">
        Are you tired of navigating through endless insurance quotes, unsure of which policy fits your needs and budget? Say goodbye to uncertainty with InsureCast, the cutting-edge insurance cost prediction platform that empowers you to make informed decisions about your insurance coverage.
      </p>
      <a href="{% url 'prediction' %}" class="inline-flex items-center justify-center bg-indigo-500 text-white font-medium rounded-lg text-lg py-3 px-6 hover:bg-indigo-600 transition-colors duration-200">
        Get Insurance Cost
      </a>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover w-full h-auto" src="/static/img1.png" alt="hero">
    </div>
  </div>
</section>

<h6 class="text-4xl font-bold text-center text-indigo-700 my-8">Why Choose InsureCast?</h6>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">

      <div class="p-4 md:w-1/3">
        <div class="bg-white p-6 rounded-lg">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
            <img class="w-12 h-12" src="/static/img2.png" alt="Budget Wisely">
          </div>
          <h2 class="text-2xl font-medium title-font text-gray-900 mt-4">
            <b>Budget Wisely</b>
          </h2>
          <p class="leading-relaxed text-base mt-2">
            Avoid surprises and allocate funds effectively by having a clear understanding of your insurance expenses.
          </p>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="bg-white p-6 rounded-lg">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
            <img class="w-12 h-12" src="/static/img3.png" alt="Avoid Overpaying">
          </div>
          <h2 class="text-2xl font-medium title-font text-gray-900 mt-4">
            <b>Avoid Overpaying</b>
          </h2>
          <p class="leading-relaxed text-base mt-2">
            Get rid of the guesswork and ensure you're not paying more than necessary for your coverage.
          </p>
        </div>
      </div>

      <div class="p-4 md:w-1/3">
        <div class="bg-white p-6 rounded-lg">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
            <img class="w-12 h-12" src="/static/img4.png" alt="Find the Perfect Fit">
          </div>
          <h2 class="text-2xl font-medium title-font text-gray-900 mt-4">
            <b>Find the Perfect Fit</b>
          </h2>
          <p class="leading-relaxed text-base mt-2">
            Identify policies that match your unique needs and preferences while staying within your budget.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock body %}
